*
{ margin: 0;
  padding: 0;}

body
{ font: normal 85% Arial, Helvetica, sans-serif;
  color: #000;
  text-shadow: 1px 1px #FFF;
  background: #FFF url(pattern_light.png) repeat;
}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: bold 200% 'Open Sans Condensed', sans-serif;
  color: #284020;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h2
{ font: normal 165% 'Open Sans Condensed', sans-serif;}


a
{ color: #000;
  text-shadow: 1px 1px #FFF;
  font-weight: bold;
  background: transparent;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #menubar, #site_content
{ margin-left: auto; 
  margin-right: auto;}

#header
{ height: 550px;
  background:  #9DB17D;
  }
#headerin
{ height: 200px;
  background: #9DB17D;
  }

#menubar_container
{ height: 100px;
margin-top: 30px;
}

#menubar
{ width: 940px;
  height: 100px;} 
  
#welcome
{ width: 940px;
  height: 80px;
  padding: 20px 0 0 0;
  text-align: center;
  margin: 0 auto;}  
   
#menu_items
{ float: left;
  margin-top: 20px;
  padding: 10px 0;
  width: 940px;
  background: #437133;
  background: -moz-linear-gradient(#437133, #284020);
  background: -o-linear-gradient(#437133, #284020);
  background: -webkit-linear-gradient(#437133, #284020);
  border-bottom: 2px solid #1D2D17;
  border-radius: 30px 0px 30px 0px;
  -moz-border-radius: 30px 0px 30px 0px;
  -webkit-border: 30px 0px 30px 0px;}
  
ul#menu
{ margin:0;
  float: left;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 1px 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ float: left;
  font: bold 120% 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px #000; 
  text-decoration: none;
  margin: 0px 0 0 10px;
  padding: 5px 15px 5px 15px;
  background: transparent; } 
  
ul#menu li.current a
{ text-shadow: 1px 1px #323232;  
  background: #284020;
  background: -moz-linear-gradient(#437133, #284020);
  background: -o-linear-gradient(#437133, #284020);
  background: -webkit-linear-gradient(#437133, #284020);
  border-radius: 15px 0px 15px 0px;
  -moz-border-radius: 15px 0px 15px 0px;
  -webkit-border: 15px 0px 15px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;  }
  
ul#menu li:hover a
{ text-shadow: 1px 1px #000;  
  background: #284020;
  background: -moz-linear-gradient(#284020, #437133);
  background: -o-linear-gradient(#284020, #437133);
  background: -webkit-linear-gradient(#284020, #437133);
  border-radius: 15px 0px 15px 0px;
  -moz-border-radius: 15px 0px 15px 0px;
  -webkit-border: 15px 0px 15px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;  }

#site_content
{ width: 940px;
  overflow: hidden;
  background: transparent;
  margin: 0 auto;
  padding: 0 0 20px 0;} 

#header_image
{ width: 900px;
  height: 300px;
  margin: 0 auto;
  background: transparent url(header.jpg) no-repeat;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}  
  

#content
{ width: 900px;
  margin-bottom: 20px;
  padding-left: 20px;
  float: left;}
  
#content h1
{ margin-top: 20px;}

.content_item_left
{ width: 440px;
  float: left;
  margin: 0 0 20px 0;}
  
.content_item_right
{ width: 440px;
  float: right;
  margin: 0 0 20px 0;}
  
.content_item_left h3, .content_item_right h3
{ font-size: 200%;
  font-weight: bold;
  color: #F4FB3B;}  
  
.content_container
{ width: 100%;
  padding: 5px 5px 10px 5px;
  margin: 0 10px 10px 0;
  text-align: center;
  float: left;
  border: 2px solid #ccc;
  }
  
.content_container p
{
  font: bold 18px "Open Sans Condensed",sans-serif;

}
.content_container .feature_img{
  width:30%;
  height:200px;
  float: left;
}

.content_container .feature_img img{
  width: 100%;
}
.parrent.child{
float: left;	
}
.parrent{
float: left;	
}
.content_container .feature{
  width:70%;
  height:200px;
  float:left;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
}
.content_container h3
{ font-size: 200%;
  font-weight: bold;}
input{
    width: 40%;
    height: 35px;
    border: 2px solid #116B10;
    border-style: groove;
    font-weight: bold;
    margin-left: 30%;
    font-size: 15px;
    text-align: center;
    }
    select{
    width: 40%;
    height: 35px;
    border: 2px solid #116B10;
    border-style: groove;
    font-weight: bold;
    margin-left: 30%;
    font-size: 15px;
    text-align: center;
    }
    
  .clist li {
   background:#FFF;
    border: 2px solid #116B10;
    border-style: groove;
    font-weight: bold;
    margin-left: 30%;
    font-size: 15px;
    text-align: center;
    }
    
.bottom_footer{
  width:100%;
  background: #9DB17D;
  height:50px;
  margin: auto;
  text-align: center;
  clear:both;
  
}
table
{ width: 70%;
    height: 35px;
    text-align: center;
    background: #FFF;
  border: 2px solid #116B10;
    border-style: groove;
    margin-left: 30%;
    font-size: 15px;
    text-align: center;
  }
  tr{
    height: 25px;
  }

.item_left
{ padding: 20px;}